/*Reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Stylesheet starts here*/

:root {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;

  --padding-10: 10%;
  /*Primary*/
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);


  /*Neutral*/
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --light-gray: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --linear-gradient-lime-green-to-bright-cyan: linear-gradient(
    90deg,
    var(--lime-green) 30%,
    var(--bright-cyan) 100%
  );
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

#nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0;
  background: white;
  position: relative;
  z-index: 10;
}

#navigation-links {
  color: var(--grayish-blue);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.nav-link > a {
  color: var(--grayish-blue);
  font-weight: 300;
  padding: 0 1rem;
}

#navigation-links > .nav-link > a:hover {
  border-bottom: 0.4rem solid var(--lime-green);
  padding-bottom: 1.6rem;
}

button.request-invite {
  cursor: pointer;
  border: none;
  font-size: inherit;
  font-weight: 700;
  color: white;
  padding: 1rem 3rem;
  border-radius: 5rem;
  background: var(--linear-gradient-lime-green-to-bright-cyan);
}

button.request-invite:hover {
  opacity: 0.8;
}



#showcase {
  display: flex;
  align-items: center;
  padding-left: var(--padding-10);
  background: var(--very-light-gray) url("images/bg-intro-desktop.svg") top -10rem
    right -11rem no-repeat;
  background-size: 50rem;
  overflow-x: clip;
  height: 40rem;
  justify-content: space-between;
}

#showcase-text {
  width: 40%;
}

h1.heading {
  line-height: 3.5rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 300;
}

.description {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

#bg-intro {
  transform: translateX(7rem);
}

#usp {
  background: var(--light-gray);
  padding: 5rem var(--padding-10);
}

#usp-text {
  width: 40%;
}

.row-list {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.usp-item {
  display: flex;
  width: 18rem;
  flex-direction: column;
}

.usp-item > *,
.article-card > * {
  padding: 1rem 2rem 1rem 0;
}

#articles {
  padding: 5rem var(--padding-10);
  background: var(--very-light-gray);
}

.article-card {
  background: white;
  margin: 0 1rem 1rem;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0.5rem;
}

.article-card > .article-image {
  max-width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  flex: 1;
}

.article-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.article-card-content > * {
  padding: 1rem 1rem 0 1rem;
  line-height: 1.25rem;
}

.article-card-content > .author {
  color: var(--grayish-blue);
  font-size: 12px;
  font-weight: 300;
}

.article-card-content > .title {
  font-weight: 400;
}

.article-card-content > .title:hover {
  cursor: pointer;
  color: var(--lime-green);
}


.article-card-content > .text {
  text-overflow: ellipsis;
  max-lines: 4;
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: 300;
}

footer {
  gap: 3rem;
  padding: 5rem var(--padding-10);
  background: var(--dark-blue);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer > .column {
  height: inherit;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer > .column:last-child {
  align-items: flex-end;
  margin-left: auto;
  gap: 1rem;
}

.copyright {
  padding: 1rem 0;
  font-size: 16px;
  color: var(--grayish-blue);
}

footer > .links-column {
  height: 7rem;
  width: 15rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer-links {
  /*padding: 0.5rem 2rem;*/
  /*flex: 1 1 0;*/
}

.footer-links:hover {
  color: var(--lime-green);
}

path.easy-bank-text {
  fill: white;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /*scale: 1.2;*/
  /*padding: 0 0.3rem;*/
}

.social-media:hover > path {
  fill: var(--lime-green);
}

#hamburger-menu {
  display: none;
}

.menu-button-container {
  display: none;
  cursor: pointer;
  user-select: none;
}
.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  font-size: 1.5rem;
  width: 90vw;
  position: absolute;
  top: 4.5rem;
  left: 5vw;
  gap: 1.5rem;
  padding: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 2rem 5rem 2rem black;
}

.menu > .nav-link {
  font-size: 18px;
  font-weight: 300;
}


@media (max-width: 500px) {

  #hamburger-menu:checked ~ .menu {
    display: flex;
  }

  #nav-bar {
    padding: 1rem;
    box-sizing: border-box ;
    justify-content: space-between;
  }

  .menu-button-container {
    display: block;
  }

  #navigation-links {
    display: none;
  }
  #nav-bar .request-invite {
    display: none;
  }

  #showcase {
    background: var(--very-light-gray) url("images/bg-intro-mobile.svg")
      no-repeat;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
    height: auto;
  }

  #showcase-text {
    width: 80%;
    text-align: center;
    order: 1;
  }

  #showcase-text > .heading {
     font-size: 2rem;
    line-height: 1.3;
  }

  #usp-text {
    text-align: center;
    width: 100%;
  }

   #usp-text > .heading{
     font-size: 2rem;
     line-height: 1.3;
   }

  .usp-item .description {
    text-align: center;
  }

  #bg-intro {
    width: 100%;
    margin-top: -7rem;
    margin-bottom: 2rem;
    transform: translate(0);
  }

  #bg-intro img {
    width: 100%;
  }

  #usp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #usp,
  #articles {
    padding: 2rem 2rem;
  }

  #articles > .heading {
    text-align: center;
    font-size: 2rem;
    line-height: 1.3;
  }

  .article-card {
    margin: 1rem 0;
    width: 100%;
  }

  .usp-item {
    align-items: center;
  }

  .usp-item > *,
  .article-card > * {
    padding: 1rem 0;
  }


  .row-list {
    flex-direction: column;
    justify-content: center;
  }

  footer {
    flex-direction: column;
    height: auto;
    padding: 2rem 0 0 0;
  }

  footer > .links-column {
    height: auto;
    width: auto;
    gap: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  footer > .column {
    display: flex;
    align-self: center;
  }

  footer > .column:last-child {
    margin-left: 0;
  }
  .footer-links {
    padding: 0.5rem 0;
  }

  .menu > .nav-link > a {
    color: black;
  }

  .menu > .nav-link > a:visited {
    color: black;
  }

  .menu > .nav-link > a:hover {
    color: black;
  }

}
